.header {
    list-style-type: none;
    margin: 10px;
    margin-right:16px;
    font-family: arial,sans-serif;
    font-size: 13px;
    float:right;
    text-decoration:none;
  }
  .header1 {
    list-style-type: none;
    margin: 10px;
    margin-left:16px;
    font-family: arial,sans-serif;
    font-size: 13px;
    float:left;
    text-decoration:none;
    
  }
  .header a{
    color:black;
   text-decoration:none;
  }
  .header a:hover{
    text-decoration: none;

  }
  .header1 a{
    color:black;
   text-decoration:none;
  }
  .header1 a:hover{
    text-decoration: none;

  }
  .footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-top: 1px solid #dadce0;
    position: fixed;
    bottom:10px;
    font-family: arial,sans-serif;
    font-size:15px;
    margin-left: 10px;
  }
  .footer a{
    color:black;
   text-decoration:none;

  }
  .footer a:hover{
    text-decoration: none;
  }
  .footer1 {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-top: 1px solid #dadce0;
    position: fixed;
    bottom:10px;
    font-family: arial,sans-serif;
    font-size:15px;
    margin-left:1300px;
  }
  .footer1 a{
    color:black;
   text-decoration:none;

  }
  .footer1 a:hover{
    text-decoration: none;
  }
  .footer2{
    margin-left:0;
    background: rgb(237, 234, 231);
    width:1550px;
    height:50px;
    position: fixed;
    bottom:1px;

  }
  .img{
    margin-top:5px;
    width:15px;
    height:15px;
  }
  .btn{
    background: rgb(40, 134, 227);
    color:white;
    padding:5px 5px;
    border-radius:10%;
       
  }
  .img1{
    margin-left:500px;
    margin-top:150px;
    width:300px;
    height:100px;
    
  }
  .orta{
    width:650px;
    height:60px;
    position:fixed;
    top:300px;
    margin-left:450px;
    
  }
  .img2{
    margin:8px;
    padding:1px;
    width:25px;
    height:25px;
  }
  .alt{
    position:fixed;
    margin-left:650px;
    top:370px;

  }
  body{
    margin:0%;
    padding:0%;
  }